<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="小白"
        android:roundIcon="@drawable/logo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.person.FansActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teach.ComputerStandardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teach.SoftWareActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teach.FileManageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teach.SoftInstallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.modifypassword.ModifyPasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.personinfo.PersonInfoActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.secret.SecretActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.forumdetail.ForumDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.addforum.AddForumActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>